
.lcf-btn-group {
    .lcf-btn, .lcf-btn-primary, .lcf-btn-danger {
        margin-right: ($lcf-spacer * 0.5);
    }
}

.lcf-btn-group-right {
    @extend .lcf-btn-group;
    text-align: right;
    .lcf-btn, .lcf-btn-primary, .lcf-btn-danger {
        margin-right: 0;
        margin-left: ($lcf-spacer * 0.5);
    }
}

%lcf-btn-base {
    line-height: 1.1;
    padding: 0.2em 0.6em;
    font-size: $lcf-button-font-size;
    border: 1px solid $lcf-border-color;
    border-radius: $lcf-button-radius;
    background-color: $lcf-button-background-color;
    &:hover {
        background-color: darken($lcf-button-background-color, 10%);
    }
}

.lcf-btn {
    @extend %lcf-btn-base;
}

.lcf-btn-primary {
    @extend .lcf-btn;
    color: white;
    background-color: $lcf-primary-button-color;
    border-color: darken($lcf-primary-button-color, 10%);
    &:hover {
        background-color: darken($lcf-primary-button-color, 5%);
    }
}

.lcf-btn-danger {
    @extend .lcf-btn;
    color: white;
    background-color: $lcf-danger-button-color;
    border-color: darken($lcf-danger-button-color, 10%);
    &:hover {
        background-color: darken($lcf-danger-button-color, 5%);
    }
}

.lcf-btn-icon {
    @extend %lcf-btn-base;
    &:hover {
        color: $lcf-primary-button-color;
    }
    &.lcf-danger:hover {
        color: $lcf-danger-button-color;
    }
}

.lcf-combo-button {
    @extend %lcf-btn-base;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
