.lcf-compound-input {
    @include lcf-grid-container;
    &.lcf-compound-with-label {
        @include lcf-panel;
    }
    &.lcf-has-error {
        @include lcf-panel;
        border-color: $lcf-border-error-color;
    }
    > .lcf-field {
        margin-bottom: $lcf-spacer;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
