.lcf-form, .lcf-panel {
    @include lcf-panel;
}

.lcf-form {
    @include lcf-grid-container;
}

.lcf-form, .lcf-field, .lcf-input {
    font-size: $lcf-font-size;
}

.lcf-field, .lcf-btn-group {
    grid-column-end: span 12;
}

.lcf-error {
    color: $lcf-error-msg-color;
    .lcf-error-msg {
        display: block;
    }
}

.lcf-field-label {
    display: inline-block;
    color: $lcf-field-label-color;
    font-weight: $lcf-field-label-font-weight;
    margin-bottom: $lcf-spacer * 0.25;
}

.lcf-required-asterisk {
    color: $lcf-required-asterisk-color;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
}

.lcf-help {
    font-size: $lcf-small-font-size;
    margin-top: -$lcf-spacer * 0.5;
    margin-bottom: $lcf-spacer * 0.5;
    white-space: pre-line;
}

.lcf-combo {
    display: flex;
    .lcf-combo-button {
        border-left: none;
    }
}
