.lcf-input-markdown{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $lcf-spacer;
    height: 200px;
    > label {
        grid-column-end: span 2;
    }
    .lcf-markdown-preview {
        @include lcf-panel;
        background-color: $lcf-input-background-color;
        overflow: auto;
        cursor: not-allowed;
    }
    [data-name=fullscreen] {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &.lcf-fullscreen {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 10px;
        > label {
            display: none;
        }
    }
}
