.lcf-input-markdown{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 200px;
    > textarea {
        flex-basis: 50%;
    }
    .lcf-markdown-preview {
        @include lcf-panel;
        background-color: $lcf-input-background-color;
        margin-left: $lcf-spacer;
        flex-basis: 50%;
        overflow: auto;
        cursor: not-allowed;
    }
    [data-name=fullscreen] {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &.lcf-fullscreen {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 10px;
    }
}
