.lcf-repeater-input {
    position: relative;
    border: $lcf-border-width solid $lcf-border-color;
    &.lcf-has-error {
        border-color: $lcf-border-error-color;
    }
}

.lcf-repeater-item {
    border-top: $lcf-border-width solid $lcf-border-color;
    &:first-child {
        border-top: none;
    }
    display: flex;
    &.lcf-drag-hide {
        height: 0;
        overflow: hidden;
    }
    .lcf-repeater-item-controls, .lcf-repeater-index {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .lcf-btn-icon {
            width: 24px;
            padding: 2px 0;
            margin: 1px 4px;
            &[data-name=btn-insert] {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
            }
        }
    }
    .lcf-repeater-item-controls {
        // leave room for the (+) button between repeater items
        padding: $lcf-button-font-size 0;
    }
    .lcf-repeater-index {
        flex: 0 0 2rem;
        cursor: move;
        span {
            text-align: center;
        }
    }
    .lcf-repeater-subfield {
        flex-grow: 1;
        padding: $lcf-spacer;
        border-left: $lcf-border-width solid $lcf-border-color;
        border-right: $lcf-border-width solid $lcf-border-color;
        @include lcf-grid-container;
    }
}

.lcf-repeater-append {
    padding: $lcf-spacer;
    border-top: $lcf-border-width solid $lcf-border-color;
}

.lcf-repeater-insert-marker {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $lcf-primary-button-color;
}
