.lcf-input-search {
    .lcf-combo:hover .lcf-combo-button {
        background-color: darken($lcf-button-background-color, 10%);
    }
}

.lcf-search-interface {
    @include lcf-panel;
    input {
        margin-bottom: $lcf-spacer;
    }
}

.lcf-search-suggestions {
    max-height: 10rem;
    overflow-y: auto;
}

.lcf-search-suggestion {
    cursor: pointer;
    &:hover {
        background-color: $lcf-light-grey;
    }
}
