
.lcf-error-msg {
    color: red;
}

.lcf-help {
    font-size: 12px;
}

.lcf-input-wrapper, .lcf-field, .lcf-repeater-item {
    margin-bottom: 5px;
}

:not(.lcf-repeater-item) > .lcf-compound-field {
    padding: 5px;
    border: 1px solid black;
    > .lcf-field {
        margin-left: 5px;
    }
}

.lcf-repeater-field {
    padding: 5px;
    border: 1px solid black;
}

.lcf-repeater-item {
    display: flex;
    > .lcf-repeater-item-controls {
        width: 120px;
    }
    > .lcf-field {
        flex-grow: 1;
    }
    padding: 5px 0;
    border-bottom: 1px solid black;
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.lcf-field-label {
    font-weight: bold;
}

.lcf-input {
    input {
        width: 100%;
    }
    background-color: white;
}

.lcf-media-library {
    border: 1px solid black;
    padding: 5px;
    .lcf-ml-index {
        display: flex;
        flex-wrap: wrap;;
        .lcf-ml-preview {
            margin: 5px;
        }
        max-height: 400px;
        overflow-y: auto;
    }
}

.lcf-ml-preview {
    width: 140px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    .lcf-ml-thumb {
        padding-top: 60%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        i {
            font-size: 42px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &.warning {
                color: red;
            }
        }
    }
}

.lcf-ml-inspect {
    display: flex;
    > div {
        width: 50%;
        padding: 10px;
    }
    img {
        max-width: 100%;
    }
}

.lcf-input-markdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 200px;
    > textarea, > .preview {
        flex-basis: 48%;
    }
    > .preview {
        overflow: auto;
        background-color: white;
    }
    > button {
        position: absolute;
        top: 0;
        right: 0;
    }
    &.fullscreen {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 10px;
    }
}
