
.lcf-error-msg {
    color: red;
}

.lcf-help {
    font-size: 12px;
}

.lcf-input-wrapper, .lcf-field, .lcf-repeater-item {
    margin-bottom: 5px;
}

:not(.lcf-repeater-item) > .lcf-compound-field {
    padding: 5px;
    border: 1px solid black;
    > .lcf-field {
        margin-left: 5px;
    }
}

.lcf-repeater-field {
    padding: 5px;
    border: 1px solid black;
}

.lcf-repeater-item {
    display: flex;
    > .lcf-repeater-item-controls {
        width: 120px;
    }
    > .lcf-field {
        flex-grow: 1;
    }
    padding: 5px 0;
    border-bottom: 1px solid black;
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.lcf-field-label {
    font-weight: bold;
}

.lcf-input {
    input {
        width: 100%;
    }
}

.lcf-media-library {
    .lcf-ml-index {
        .lcf-ml-preview {
            float: left;
        }
    }
}

.lcf-ml-preview {
    width: 140px;
    .lcf-ml-thumb {
        padding-top: 60%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.lcf-ml-inspect {
    display: flex;
    > div {
        width: 50%;
        padding: 10px;
    }
    img {
        max-width: 100%;
    }
}
